#include "resource.h"
1 24      DISCARDABLE     "res\\style.bin"

DLG_MAIN DIALOG DISCARDABLE  6, 5, 169, 83
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "植物大战僵尸修改器"
FONT 9, "宋体"
BEGIN
    PUSHBUTTON      "无限阳光",IDC_BTN_SUN,5,40,48,18
    PUSHBUTTON      "无限金钱",IDC_BTN_MON,60,40,48,18
    PUSHBUTTON      "无需冷却",IDC_BTN_FRE,115,40,48,18
    PUSHBUTTON      "自动收集",IDC_BTN_COL,5,62,48,18
    PUSHBUTTON      "任意种植",IDC_BTN_REP,60,62,48,18
    PUSHBUTTON      "去掉暂停",IDC_BTN_PAU,115,62,48,18
    LTEXT           "",IDC_STATIC,5,25,159,8
    CONTROL         "中文版",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON,5,9,40,10
    CONTROL         "英文版",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON |NOT WS_VISIBLE| WS_DISABLED,115,9,40,10
    CONTROL         "年度版",IDC_RADIO3,"Button",BS_AUTORADIOBUTTON,50,9,40,10
END
